.reviewsTitle {

    p {
        font-size: 18px !important;
    }
}

.reviews {
    background: #272727;

    clear: both;
    color: white;
}

.reviewsLogo {
    justify-content: space-between;
    padding-bottom: 35px;
}

.reviewsLogoItem {
    display: flex;
    margin-bottom: 47px;
}

.reviewsBlock {
    border-top: 1PX solid #979797;
    padding-top: 28PX;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 26px;
}

.reviewsBlockItemStars {
    margin-bottom: 15px;
    display: flex;
    text-align: center;

}

.reviewsBlockItemStars {
    font-size: 18px;
    line-height: 1.3;


}

.reviewsBlockItemText {
    p {
        font-size: 18px !important;
    }
}

.carousel-inner {
    img {
        width: 100%
    }
}

.carousel-item {
    img {
        width: 500px;
    }
}

#myCarousel {
    .carousel-indicators {
        position: static;
        margin-top: 0px
    }

}

#myCarousel {
    .carousel-indicators {
        li {
            width: 100px
        }
    }
}

#myCarousel {
    .carousel-indicators {
        li {
            img {
                display: block;
                opacity: 0.5
            }
        }
    }
}

#myCarousel {
    .carousel-indicators {
        li {
            .active {
                img {
                    opacity: 1
                }
            }
        }
    }
}

#myCarousel {
    .carousel-indicators {
        li {
            &:hover {
                img {
                    opacity: 0.75
                }
            }
        }
    }
}


.productsBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.productsText {
    position: relative;

}

.productsBtn {
    display: flex;
    justify-content: center;
}

.flip-card {

    /* width: 300px; */
    height: 500px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover {
    .flip-card-inner {
        transform: rotateY(180deg);
    }
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


.flip-card-front {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.flip-card-back {
    background-color: white;
    color: black;
    transform: rotateY(180deg);
    padding: 34px 37px;
    border: 1px solid black;
}

.flip-card-back p {
    font-size: 18px;
}


.bo-card-title {
    font-size: 18px !important;
}

.card-contant-text {
    font-size: 18px !important;
}

.productsBlockItem {
    &:active {
        .productsBlockItemContentBack {
            transform: rotateY(0deg);
            opacity: 1;
        }
    }
}

.bo-btn {
    justify-content: center;
    text-align: center;
    background: lightblue;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    box-sizing: border-box;
    font-weight: 500;
    line-height: normal;
    padding: 16px 26px 15px;
    border: 1px solid lightblue;

    &:hover {
        text-decoration: none;
        background: white;
        color: black;
    }

}

.productsText {
    p {
        font-size: 18px !important
    }
}

.process {
    background: rgb(253, 251, 244);
    padding: 50px 0;

}

.processBlock {
    display: grid;
    grid-template-columns: 63.6290323% 36.3709677%;
    margin-bottom: 40px;
}

.processBlockContent {

    .subtitle {
        margin-bottom: 12px;
        font-size: 18px !important;
        text-transform: uppercase;
        line-height: normal;
        letter-spacing: 3.78px;
        color: #f12d48;
    }

    .title {
        max-width: 659px;
        margin-bottom: 12px;
        font-size: 60px;
        font-weight: 700;
        line-height: 1.15;
        margin-top: 0;
    }
}

.processBlockContentText {
    max-width: 624px;
    font-size: 18px !important;
}

.processList {
    display: flex;
    justify-content: space-between;
    margin-left: -30px;
    margin-right: -30px;
}

.processListItem {
    margin: 0 30px;
    width: 100%;

    img {
        height: 120px;
        margin-bottom: 35px;
    }
}

.processListItemTitle {
    font-weight: 700;
    font-size: 18px !important;
    line-height: normal;
    margin-bottom: 14px;
}

.processListItemText {
    font-size: 18px !important;
}
.parallax {
    /* The image used */
    background-image: url(https://images.unsplash.com/21/mac-glasses.JPG?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=600&ixid=MnwxfDB8MXxyYW5kb218MHx8bGFwdG9wLHRlY2h8fHx8fHwxNjM4MTczMTQz&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600);
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.faq-list {
    list-style: none;
    padding: 0;

    li {
        margin: 30px 0;
        border: 1px solid rgb(205, 205, 205);
        padding: 27px 30px;
        margin: 0px auto 30px;
        text-align: left;

    }

    .faq-heading {
        &::before {
            content: '+';
            font-size: 40px;
            display: block;
            position: absolute;
            right: -18px;
            top: -10px;
            color: $bo-black-color;
        }
    }

    .the-active {
        .faq-heading {
            &::before {
                content: '-';
            }
        }
    }
}

.faq-heading {
    position: relative;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    margin: 0;

    &:hover {
        color: var(--theme-color);
    }
}

.faq-text {
    display: none;
}

.container {
    width: 1200px;
    margin: auto;
}

.art-box {
    svg {
        width: 100%;
    }
}

.row {
    display: flex;

    .col {
        flex-basis: 50%;
    }
}

.title {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.15;
    margin-top: 0px;
}

.read {
    color: rgb(100, 100, 100);
    font-size: 16px;
    line-height: 1.5;
    margin-top: 25px;
}

.section_heading {
    p {
        font-size: 18px !important;
    }
}

.single_advisor_profile {
    position: relative;
    margin-bottom: 50px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    z-index: 1;
    border-radius: 15px;
    -webkit-box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
    box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
}

.single_advisor_profile .advisor_thumb {
    position: relative;
    z-index: 1;
    border-radius: 15px 15px 0 0;
    margin: 0 auto;
    padding: 30px 30px 0 30px;
    background-color: #3f43fd;
    overflow: hidden;
}

.single_advisor_profile .advisor_thumb::after {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    position: absolute;
    width: 150%;
    height: 80px;
    bottom: -45px;
    left: -25%;
    content: "";
    background-color: #ffffff;
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
}

// @media only screen and (max-width: 575px) {
//     .single_advisor_profile .advisor_thumb::after {
//         height: 160px;
//         bottom: -90px;
//     }
// }

.single_advisor_profile .advisor_thumb .social-info {
    position: absolute;
    z-index: 1;
    width: 100%;
    bottom: 0;
    right: 30px;
    text-align: right;
}

.single_advisor_profile .advisor_thumb .social-info a {
    font-size: 14px;
    color: #020710;
    padding: 0 5px;
}

.single_advisor_profile .advisor_thumb .social-info a:hover,
.single_advisor_profile .advisor_thumb .social-info a:focus {
    color: #3f43fd;
}

.single_advisor_profile .advisor_thumb .social-info a:last-child {
    padding-right: 0;
}

.single_advisor_profile .single_advisor_details_info {
    position: relative;
    z-index: 1;
    padding: 30px;
    text-align: right;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    border-radius: 0 0 15px 15px;
    background-color: #ffffff;
}

.single_advisor_profile .single_advisor_details_info::after {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    position: absolute;
    z-index: 1;
    width: 50px;
    height: 3px;
    background-color: #3f43fd;
    content: "";
    top: 12px;
    right: 30px;
}

.single_advisor_profile .single_advisor_details_info h6 {
    margin-bottom: 0.25rem;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

// @media only screen and (min-width: 768px) and (max-width: 991px) {
//     .single_advisor_profile .single_advisor_details_info h6 {
//         font-size: 14px;
//     }
// }

.single_advisor_profile .single_advisor_details_info p {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    margin-bottom: 0;
    font-size: 14px;
}

// @media only screen and (min-width: 768px) and (max-width: 991px) {
//     .single_advisor_profile .single_advisor_details_info p {
//         font-size: 12px;
//     }
// }

.single_advisor_profile:hover .advisor_thumb::after,
.single_advisor_profile:focus .advisor_thumb::after {
    background-color: #070a57;
}

.single_advisor_profile:hover .advisor_thumb .social-info a,
.single_advisor_profile:focus .advisor_thumb .social-info a {
    color: #ffffff;
}

.single_advisor_profile:hover .advisor_thumb .social-info a:hover,
.single_advisor_profile:hover .advisor_thumb .social-info a:focus,
.single_advisor_profile:focus .advisor_thumb .social-info a:hover,
.single_advisor_profile:focus .advisor_thumb .social-info a:focus {
    color: #ffffff;
}

.single_advisor_profile:hover .single_advisor_details_info,
.single_advisor_profile:focus .single_advisor_details_info {
    background-color: #070a57;
}

.single_advisor_profile:hover .single_advisor_details_info::after,
.single_advisor_profile:focus .single_advisor_details_info::after {
    background-color: #ffffff;
}

.single_advisor_profile:hover .single_advisor_details_info h6,
.single_advisor_profile:focus .single_advisor_details_info h6 {
    color: #ffffff;
}

.single_advisor_profile:hover .single_advisor_details_info p,
.single_advisor_profile:focus .single_advisor_details_info p {
    color: #ffffff;
}

.bo-for {
    background: #272727;
    color: $bo-white-color;
    padding: 26px 0 30px;
}

.forBlock {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 50px
}

.forBlockItem {

    img {
        height: 65px;
        margin-bottom: 43px;
    }
}

.forBlockItemText {
    font-size: 18px !important;
}

.forBlockItemTitle {
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 14px;
}

body {
    background: rgb(238, 238, 238);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: $bo-black-color;
    margin: 0;
    padding: 0;
}

.swiper-button-prev {
    &:after {
        font-size: 20px !important;
        color: red;
    }
}

.swiper-button-next {
    &:after {
        font-size: 20px !important;
        color: red;
    }
}

.swiper-button-next {
    left: auto;
    right: 0px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 350px;
    margin-right: 0px;
}


.swiper-slide {

    img {
        display: block;
        width: 73%;
        height: 50%;
        object-fit: cover;
    }
}


.bo-swiper-img {
    border: 2px solid rgb(20, 20, 20);
    border-bottom-right-radius: 30px;
    padding: 10px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}



// --------------nimtion---------------



.grid-box:hover {
    position: relative;
    z-index: 2;
    box-shadow: 0 1.5rem 2.8rem rgba(0, 0, 0, .15), 0 1rem 1rem rgba(0, 0, 0, .15);
    transform: translate(0, -0.5rem) scale(1.01);
}

.element1 {
    grid-area: box1;
    animation-delay: 0;
}

.element2 {
    grid-area: box2;
    animation-delay: 100ms;
}

.element3 {
    grid-area: box3;
    animation-delay: 200ms;
}















@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

.main {
    position: relative;
    height: 350px;

    background-image: url(https://images.unsplash.com/photo-1421757295538-9c80958e75b0?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=3628f27cd5768ece147877e2dd792c6c);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 10px;
    transition: 0.6s ease-in-out;
}

.co-text {
    position: absolute;
    top: 35%;
    left: 10%;
    color: black;

    p {
        font-family: sans-serif;
        letter-spacing: 2px;
        font-size: 1em;
    }

    h1 {
        font-size: 4em;
        letter-spacing: 11px;
        line-height: 27px;
        font-family: 'Amatic SC', cursive;
    }
}

.main {
    &:hover {
        position: relative;
        height: 350px;
        background-image: url(https://images.unsplash.com/photo-1508780709619-79562169bc64?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=350&ixid=MnwxfDB8MXxyYW5kb218MHx8bGFwdG9wLHRlY2h8fHx8fHwxNjM3ODIwNDAy&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

    }
}

.img {
    margin: 0 auto;
    width: 100%;
    height: 350px;
    background: url(https://images.unsplash.com/photo-1592329347431-0943ca753471?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=350&ixid=MnwxfDB8MXxyYW5kb218MHx8bGFwdG9wLHBob25lfHx8fHx8MTYzNzkwMzMxMQ&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600) 50% 50% no-repeat;
    background-size: 100%;
    transition: background-size 0.3s ease-in-out;
}

.img {
    &:hover {
        background-size: 120%;
    }

}

.app-wrapper {
    .wrapper-content {
        flex-direction: row;
        flex: 1 0 auto;
    }
}

.app-wrapper {
    .wrapper-content {
        main {
            flex: auto;
        }
    }

}

.co-fintest-about {
    background: white;
}

.subheader {
    .hv-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

.subheader {
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 240px;
}

.left-img {
    width: 100%;
}

.co-about-img {
    border-radius: 100px;
}






/*---------------------------------------------*/


a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
    color: #57b846;
}

/*---------------------------------------------*/


ul,
li {
    margin: 0px;
    list-style-type: none;
}


/*---------------------------------------------*/
input {
    outline: none;
    border: none;
}

textarea {
    outline: none;
    border: none;
}

textarea:focus,
input:focus {
    border-color: transparent !important;
}

input::-webkit-input-placeholder {
    color: #999999;
}

input:-moz-placeholder {
    color: #999999;
}

input::-moz-placeholder {
    color: #999999;
}

input:-ms-input-placeholder {
    color: #999999;
}

textarea::-webkit-input-placeholder {
    color: #999999;
}

textarea:-moz-placeholder {
    color: #999999;
}

textarea::-moz-placeholder {
    color: #999999;
}

textarea:-ms-input-placeholder {
    color: #999999;
}

/*---------------------------------------------*/
button {
    outline: none !important;
    border: none;
    background: transparent;
}

button {
    &:hover {
        cursor: pointer;
    }
}

iframe {
    border: none !important;
}




/*//////////////////////////////////////////////////////////////////
[ Contact 1 ]*/

.contact1 {
    width: 100%;
    min-height: 100%;
    padding: 15px;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container-contact1 {
    width: 1163px;

    border-radius: 10px;
    overflow: hidden;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    padding: 30px 119px 17px 194px;
}

/*------------------------------------------------------------------
[  ]*/
.contact1-pic {
    width: 374px;
}

.contact1-pic {
    img {
        max-width: 100%;
    }
}


/*------------------------------------------------------------------
[  ]*/
.contact1-form {
    width: 390px;
}

.contact1-form-title {
    display: block;
    font-family: Montserrat-ExtraBold;
    font-size: 38px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 44px;
}

input.input1 {
    height: 50px;
    border-radius: 25px;
    padding: 0 30px;
}

input.input1+.shadow-input1 {
    border-radius: 25px;
}

textarea.input1 {
    min-height: 150px;
    border-radius: 25px;
    padding: 12px 30px;
    border: 1px solid #6C63FF;
}

textarea.input1+.shadow-input1 {
    border-radius: 25px;
}

/*---------------------------------------------*/
.wrap-input1 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 20px;
}

.input1 {
    display: block;
    width: 100%;
    border: 1px solid #6C63FF;
    font-family: Montserrat-Bold;
    font-size: 18px;
    line-height: 1.5;
    color: #666666;
}

.shadow-input1 {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: #6C63FF;
}

.input1:focus+.shadow-input1 {
    -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
    animation: anim-shadow 0.5s ease-in-out forwards;
}


/*---------------------------------------------*/
.container-contact1-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact1-form-btn {
    min-width: 193px;
    height: 50px;
    border-radius: 25px;
    background: #6C63FF;
    font-family: Montserrat-Bold;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.contact1-form-btn {
    i {
        margin-left: 7px;

        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }
}

.contact1-form-btn:hover {
    background: #333333;
}

.contact1-form-btn:hover {
    i {
        -webkit-transform: translateX(10px);
        -moz-transform: translateX(10px);
        -ms-transform: translateX(10px);
        -o-transform: translateX(10px);
        transform: translateX(10px);
    }

}



/*------------------------------------------------------------------
[ Responsive ]*/

// @media (max-width: 1200px) {
//   .contact1-pic {
//     width: 33.5%;
//   }

//   .contact1-form {
//     width: 44%;
//   }
// }

// @media (max-width: 992px) {
//   .container-contact1 {
//     padding: 90px 80px 88px 90px;
//   }

//   .contact1-pic {
//     width: 35%;
//   }

//   .contact1-form {
//     width: 55%;
//   }
// }

// @media (max-width: 768px) {
//   .container-contact1 {
//     padding: 90px 80px 88px 80px;
//   }

//   .contact1-pic {
//     display: none;
//   }

//   .contact1-form {
//     width: 100%;
//   }
// }

// @media (max-width: 576px) {
//   .container-contact1 {
//     padding: 90px 15px 88px 15px;
//   }
// }


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
    position: relative;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;

    border: 1px solid #c80000;
    border-radius: 13px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
    pointer-events: none;

    font-family: Montserrat-Medium;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;

    visibility: hidden;
    opacity: 0;

    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f06a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 13px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

// @media (max-width: 992px) {
//   .alert-validate::before {
//     visibility: visible;
//     opacity: 1;
//   }
// }





.team {
    background: #fff;
    padding: 60px 0px 10px;

    .member {
        margin-bottom: 20px;
        overflow: hidden;
        border-radius: 5px;
        background: #fff;
        box-shadow: 0px 2px 15px rgba(0, 0, 0, .15);

        &:hover .social {
            opacity: 1;
        }


        .member-img {
            position: relative;
            overflow: hidden;
            border-radius: 50%;
            width: 200px;
            margin: 20px auto 0px;
        }

        .social {
            position: absolute;
            left: 0px;
            bottom: 30px;
            right: 0px;
            opacity: 0;
            transition: ease-in-out .3s;
            text-align: center;


            a {
                transition: color .3s;
                margin: 0px 3px;
                padding-top: 7px;
                border-radius: 4px;
                width: 33px;
                height: 33px;
                background: #42c8ad;
                display: inline-block;
                color: #fff;
            }

            i {
                font-size: 18px;
            }

            .about-facebook {
                background: #3b5998 !important;
            }

            .about-twitter {
                background: #00acee !important;
            }

        }

        .member-info {
            padding: 25px 15px;

            h4 {
                font-weight: 700;
                margin-bottom: 5px;
                font-size: 18px;
                color: #000;
            }

            span {
                display: block;
                font-size: 13px;
                font-weight: 400;
                color: #aaa;
            }

            p {
                font-size: 18px;
                line-height: 26px;
                color: #777;
            }
        }
    }
}

.section-title {
    padding-bottom: 20px;

    h2 {
        font-size: 14px;
        font-weight: 500;
        line-height: 1px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #aaa;
        margin: 0 0 5px;

        &::after {
            content: "";
            width: 120px;
            height: 1px;
            display: inline-block;
            background: #42c8ad;
            padding: 0px 10px;

        }
    }

    p {
        margin: 0px;
        font-size: 18px !important;
        font-weight: 700;
    }
}

.img-fluid {
    max-width: 100%;
    height: auto;
}



// ----popop------


a:link,
a:visited {
  color: #444;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}

/* CSS Multiple Whatsapp Chat */

#whatsapp-chat {
  box-sizing: border-box !important;
  outline: none !important;
  position: fixed;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 1px 15px rgba(32, 33, 36, 0.28);
  bottom: 90px;
  right: 30px;
  overflow: hidden;
  z-index: 99;
  animation-name: showchat;
  animation-duration: 0.3s;
  transform: scale(1);
}

a.blantershow-chat {
  /*   background: #009688; */
  background: #fff;
  color: #404040;
  position: fixed;
  display: flex;
  font-weight: 400;
  justify-content: space-between;
  z-index: 98;
  bottom: 25px;
  right: 30px;
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 30px;
  box-shadow: 0 1px 15px rgba(32, 33, 36, 0.28);
}

a.blantershow-chat svg {
  transform: scale(1.2);
  margin: 0 10px 0 0;
}

.whatsapp-chat-header {
  background: #009688;
  background: #095e54;
  color: #fff;
  padding: 20px;
   
  & h3 {
    margin: 0 0 10px;
  }
  
  & p {
    font-size: 14px;
    line-height: 1.7;
    margin: -10px;
  }
  
  .whatsapp-chat-name {
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 0;
    margin-bottom: 0;
    line-height: 0.5;
  }
}

.whatsapp-chat-avatar {
  position: relative;
  &::after {
      content: "";
    bottom: 0px;
    right: 0px;
    width: 12px;
    height: 12px;
    box-sizing: border-box;
    background-color: #4ad504;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 50%;
    border: 2px solid #095e54;
    left: 40px;
    top: 38px;
  }
  
  img {
    border-radius: 100%;
    width: 50px;
    float: left;
    margin: 0 10px 0 0;
    
  }
}


.info-chat span {
  display: block;
}
#get-label,
span.chat-label {
  font-size: 12px;
  color: #888;
}
#get-nama,
span.chat-nama {
  margin: 5px 0 0;
  font-size: 15px;
  font-weight: 700;
  color: #222;
}
#get-label,
#get-nama {
  color: #fff;
}
span.my-number {
  display: none;
}
/* .blanter-msg {
  color: #444;
  padding: 20px;
  font-size: 12.5px;
  text-align: center;
  border-top: 1px solid #ddd;
} */
textarea#chat-input {
    border: none;
    font-family: "Arial", sans-serif;
    width: 100%;
    height: 41px;
    outline: none;
    resize: none;
    padding: 10px;
    font-size: 14px;
}

a#send-it {
  width: 40px;
  font-weight: 700;
  padding: 10px 10px 0;
  background:white;
 
  
  svg {
    fill:#a6a6a6;
    height: 24px;
    width: 24px;
  }
}

.first-msg {
  background: transparent;
  padding: 30px;
  text-align: center;
  & span {
    background: #e2e2e2;
    color: #333;
    font-size: 14.2px;
    line-height: 1.7;
    border-radius: 10px;
    padding: 15px 20px;
    display: inline-block;
  }
}

.start-chat .blanter-msg {
  display: flex;
}
#get-number {
  display: none;
}
a.close-chat {
  position: absolute;
  top: 5px;
  right: 15px;
  color: #fff;
  font-size: 30px;

}

@keyframes ZpjSY{
  0% {
    background-color: rgb(182, 181, 186);
  }
  15% {
    background-color: rgb(17, 17, 17);
  }
  25% {
    background-color: rgb(182, 181, 186);
  }
}

@keyframes hPhMsj {
  15% {
    background-color: rgb(182, 181, 186);
  }
  25% {
    background-color: rgb(17, 17, 17);
  }
  35% {
    background-color: rgb(182, 181, 186);
  }
}

@keyframes iUMejp {
  25% {
    background-color: rgb(182, 181, 186);
  }
  35% {
    background-color: rgb(17, 17, 17);
  }
  45% {
    background-color: rgb(182, 181, 186);
  }
}


@keyframes showhide {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
}
@keyframes showchat {
  from {
    transform: scale(0);
    opacity: 0;
  }
}
@media screen and (max-width: 480px) {
  #whatsapp-chat {
    width: auto;
    left: 5%;
    right: 5%;
    font-size: 80%;
  }
}
.hide {
  display: none;
  animation-name: showhide;
  animation-duration: 0.5s;
  transform: scale(1);
  opacity: 1;
}
.show {
  display: block;
  animation-name: showhide;
  animation-duration: 0.5s;
  transform: scale(1);
  opacity: 1;
}

.whatsapp-message-container {
  display: flex;
  z-index: 1;
}

.whatsapp-message {
  padding: 7px 14px 6px;
  background-color: rgb(255, 255, 255);
  border-radius: 0px 8px 8px;
  position: relative;
  transition: all 0.3s ease 0s;
  opacity: 0;
  transform-origin: center top 0px;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.13) 0px 1px 0.5px;
  margin-top: 4px;
  margin-left: -54px;
  max-width: calc(100% - 66px);
}

.whatsapp-chat-body {
  padding: 20px 20px 20px 10px;
  background-color: rgb(230, 221, 212);
  position: relative;
  &::before {
    display: block;
    position: absolute;
    content: "";
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: 0;
    opacity: 0.08;
    background-image: url("https://elfsight.com/assets/chats/patterns/whatsapp.png");
    // background-image: url(https://res.cloudinary.com/eventbree/image/upload/v1575782560/Widgets/whatsappbg_opt.jpg);
  }
}

.dAbFpq {
  display: flex;
  z-index: 1;
}

.eJJEeC {
  background-color: rgb(255, 255, 255);
  width: 52.5px;
  height: 32px;
  border-radius: 16px;
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  align-items: center;
  margin-left: 10px;
  opacity: 0;
  transition: all 0.1s ease 0s;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.13) 0px 1px 0.5px;
}

.hFENyl {
    position: relative;
    display: flex;
}

.ixsrax {
    height: 5px;
    width: 5px;
    margin: 0px 2px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    top: 0px;
    background-color: rgb(158, 157, 162);
    animation-name: ZpjSY;
}

.dRvxoz {

    height: 5px;
    width: 5px;
    margin: 0px 2px;
    background-color: rgb(182, 181, 186);
    border-radius: 50%;
    display: inline-block;
    position: relative;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    top: 0px;
    animation-name: hPhMsj;
}

.kAZgZq {
    padding: 7px 14px 6px;
    background-color: rgb(255, 255, 255);
    border-radius: 0px 8px 8px;
    position: relative;
    transition: all 0.3s ease 0s;
    opacity: 0;
    transform-origin: center top 0px;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.13) 0px 1px 0.5px;
    margin-top: 4px;
    margin-left: -54px;
    max-width: calc(100% - 66px);
    &::before {
    position: absolute;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAmCAMAAADp2asXAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAACQUExURUxpccPDw9ra2m9vbwAAAAAAADExMf///wAAABoaGk9PT7q6uqurqwsLCycnJz4+PtDQ0JycnIyMjPf3915eXvz8/E9PT/39/RMTE4CAgAAAAJqamv////////r6+u/v7yUlJeXl5f///5ycnOXl5XNzc/Hx8f///xUVFf///+zs7P///+bm5gAAAM7Ozv///2fVensAAAAvdFJOUwCow1cBCCnqAhNAnY0WIDW2f2/hSeo99g1lBYT87vDXG8/6d8oL4sgM5szrkgl660OiZwAAAHRJREFUKM/ty7cSggAABNFVUQFzwizmjPz/39k4YuFWtm55bw7eHR6ny63+alnswT3/rIDzUSC7CrAziPYCJCsB+gbVkgDtVIDh+DsE9OTBpCtAbSBAZSEQNgWIygJ0RgJMDWYNAdYbAeKtAHODlkHIv997AkLqIVOXVU84AAAAAElFTkSuQmCC");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    top: 0px;
    left: -12px;
    width: 12px;
    height: 19px;
}
}

.bMIBDo {
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.4);
}

.iSpIQi {
    font-size: 14px;
    line-height: 19px;
    margin-top: 4px;
    color: rgb(17, 17, 17);
}

.iSpIQi {
    font-size: 14px;
    line-height: 19px;
    margin-top: 4px;
    color: rgb(17, 17, 17);
}

.cqCDVm {
    text-align: right;
    margin-top: 4px;
    font-size: 12px;
    line-height: 16px;
    color: 
    rgba(17, 17, 17, 0.5);
    margin-right: -8px;
    margin-bottom: -4px;
}




.covid-badge {
    width: 46px;
    height: 46px;
    position: fixed;
    left: 10px;
    bottom: 10px;
    border-radius: 25px;
    z-index: 99999;
    padding: 3px;
    transition-duration: .5s;
    box-shadow: 1px 2px 8px 0px;
    background: #000;
    color: #fff;
    border: none;
    overflow: hidden;
  }
  .covid-badge:before {
    content: url(		http://dev.hellochef.kitchen/coronavirus.6ac3b35006ade264c098.png);
    width: 32px;
    height: 32px;
    position: absolute;
    left: 7px;
    top: 7px;
    z-index: 1;
    -webkit-animation: rotating 5s linear infinite;
    animation: rotating 5s linear infinite;
    -webkit-animation: spinner-border .99s linear infinite;
    animation: spinner-border .99s linear infinite;
  }
  .covid-badge span {
    white-space: nowrap;
    opacity: 0;
    font-size: 16px;
    line-height: 20px;
    transition: all .1s ease;
  }
  .covid-badge:hover span {
    opacity: 1;
    transition-delay: .3s;
    transition: all .3s ease;
  }
  .covid-badge:hover {
    width: 181px;
  }