.footer-product {
    font-size: 18px !important;

    .fa.fa-facebook {
        color: #3b5998;
        border-radius: 50%;
        border: 1px solid black;
        width: 42px;
        height: 42px;
        background: white;
        margin-right: 12px;
        margin-left: 28px;
       
    }

    .fa.fa-instagram {
        color: #d92b6f;
        border-radius: 50%;
        border: 1px solid black;
        width: 42px;
        height: 42px;
        background: white;
        margin-right: 12px;
       
    }

    .fa.fa-twitter {
        color: #5aa4d6;
        border-radius: 50%;
        border: 1px solid black;
        width: 42px;
        height: 42px;
        background: white;
        margin-right: 12px;
     
    }

    .content-icon {

        i {

            &:hover {
                color: rgba(173, 216, 230, 0.897);
                background: #000000;;

            }
        }
    }
}

.co-footer-contant {
    background: rgba(173, 216, 230, 0.897);
}

.co-icon-footer {
    font-size: 25px;

}