
.footer-product{
    font-size: 18px !important;
    .content-icon{
        i{
            &:hover{
                color:lightcoral ;
            }
        }
    }
}
.co-footer-contant{
    background: rgba(173, 216, 230, 0.897);
}