@media (max-width: 425px) {

    html,
    body {
        width: 100%;
    }

    .navbar-expand-lg {
        .navbar-nav {
            left: 122px;
            width: 100%;
        }
    }

    .nav-menu {
        position: relative;
        left: 104px;
        justify-content: center;
        line-height: 4px;

        li {
            float: revert;

            a {
                color: black;
                display: block;
                text-decoration: none;
                font-family: 'Roboto Condensed', sans-serif;
                text-transform: uppercase;
                overflow: visible;
                line-height: 0px;
                font-weight: 300;
                font-size: 18px;
                letter-spacing: 1px;
                padding: 27px 0px 22px 100px;
            }
        }

        ul {
            position: absolute;
            left: -40px;
            text-align: left;
            line-height: 40px;
            font-size: 10px;
            width: 200px;
            transition: all 0.3s ease-in;
            transform-origin: 0px 0px;
            transform: rotateX(-90deg);
            backface-visibility: hidden;
        }
    }

    .co-btn {
        background: lightblue;
        border: none;
        border-radius: 0px;
        width: 190px;
        height: 50px;
        color: black;
        font-size: 20px;
        position: relative;
        right: 50px;
        width: 100%;

        &:hover {
            background: black;
            color: white;
            border: black;
            outline: none;
        }
    }

    .modal-content {
        background-color: #e2e2e2;
        color: black;
        width: 550px;
        padding: 30px;
        text-align: center;
        border: none;
        border-radius: 15px;
        align-items: center;
    }


    .navbar-toggler {
        padding: 0.25rem 0.75rem;
        font-size: 1.25rem;
        line-height: 1;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 0.25rem;
    }

    .header-manu-logo {
        width: 250px;
    }

    .reviews {
        background: #272727;
        display: flex;
        clear: both;
        color: white;
    }

    .index-video-contant {
        width: 100%;
        text-align: center;
    }


    .productsBottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .processListItemText {
        text-align: center;
    }

    .reviewsLogoItem {
        margin-bottom: 47px;
        text-align: center;
        display: list-item;
    }

    .flip-card {
        width: 100vh;
    }

    #whatsapp-chat {
        width: auto;
        left: 5%;
        right: 5%;
        font-size: 80%;
    }

    .flip-card {
        width: 540px;
    }

    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    .flip-card:hover {
        .flip-card-inner {
            transform: rotateY(180deg);
        }
    }

    .flip-card-front,
    .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;

    }


    .flip-card-front {
        background-color: white;
        color: black;
        border: 1px solid black;
    }

    .flip-card-back {
        background-color: white;
        color: black;
        transform: rotateY(180deg);
        padding: 34px 37px;
        border: 1px solid black;
    }


    .productsBlockItem {
        &:active {
            .productsBlockItemContentBack {
                transform: rotateY(0deg);
                opacity: 1;
            }
        }
    }

    .bo-btn {
        justify-content: center;
        text-align: center;
        background: lightblue;
        text-decoration: none;
        font-size: 16px;
        color: #fff;
        box-sizing: border-box;
        font-weight: 500;
        line-height: normal;
        padding: 16px 26px 15px;
        border: 1px solid lightblue;

        &:hover {
            text-decoration: none;
            background: white;
            color: black;
        }
    }

    .process {
        display: flex;
    }

    .processBlockContent {
        display: table-cell;
    }

    .processBlockContentText {
        max-width: 624px;
        font-size: 20px !important;
    }

    .processList {
        display: flex;
        justify-content: space-between;
        margin-left: -30px;
        margin-right: -30px;
    }

    .processListItem {
        display: flex;

        img {
            height: 120px;
            margin-bottom: 35px;
        }
    }

    .processListItemTitle {
        font-weight: 700;
        font-size: 18px !important;
        line-height: normal;
        margin-bottom: 14px;
    }

    .co-faq-contant {
        display: flex;
        width: 46%;
    }

    .co-avtar-text-contant {
        display: flex;
    }

    .man-avtar-contant {
        width: 46%;
    }

    .bo-for {
        display: flex;
    }

    .forBlock {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 50px
    }

    .forBlockItem {

        img {
            height: 65px;
            margin-bottom: 43px;
        }
    }

    .co-text {
        position: absolute;
        top: 35%;
        left: 10%;
        color: black;
    }

    .left-img {
        width: 100%;
    }

    .co-about-img {
        border-radius: 100px;
    }

    .contact1 {
        width: 100%;
        min-height: 100%;
        padding: 15px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .container-contact1 {
        width: 1163px;
        border-radius: 10px;
        overflow: hidden;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 30px 119px 17px 194px;
    }

    .contact1-pic {
        width: 374px;
    }

    .contact1-pic {
        img {
            max-width: 100%;
        }
    }

    .contact1-form {
        width: 390px;
    }

    .contact1-form-title {
        display: block;
        font-size: 38px;
        color: #333333;
        line-height: 1.2;
        text-align: center;
        padding-bottom: 44px;
    }


    .img-fluid {
        max-width: 100%;
        height: auto;
    }


    #whatsapp-chat {
        box-sizing: border-box !important;
        outline: none !important;
        position: fixed;
        width: 350px;
        border-radius: 10px;
        box-shadow: 0 1px 15px rgba(32, 33, 36, 0.28);
        bottom: 90px;
        right: 30px;
        overflow: hidden;
        z-index: 99;
        animation-name: showchat;
        animation-duration: 0.3s;
        transform: scale(1);
    }

    a.blantershow-chat {
        /*   background: #009688; */
        background: #fff;
        color: #404040;
        position: fixed;
        display: flex;
        font-weight: 400;
        justify-content: space-between;
        z-index: 98;
        bottom: 25px;
        right: 650px;
        font-size: 15px;
        padding: 10px 20px;
        border-radius: 30px;
        box-shadow: 0 1px 15px rgba(32, 33, 36, 0.28);
    }



    .footer-product {
        display: flex;
        justify-content: center;

    }
}


// @media (max-width: 480px) {
//     #whatsapp-chat {
//         width: auto;
//         left: 5%;
//         right: 5%;
//         font-size: 80%;
//     }
// }


// @media (max-width: 575px) {
//     .single_advisor_profile .advisor_thumb::after {
//         height: 160px;
//         bottom: -90px;
//     }
// }

// @media (max-width: 576px) {
//     .container-contact1 {
//         padding: 90px 15px 88px 15px;
//     }
// }

// @media (min-width: 768px) and (max-width: 991px) {
//     .single_advisor_profile .single_advisor_details_info h6 {
//         font-size: 14px;
//     }

//     .single_advisor_profile .single_advisor_details_info p {
//         font-size: 12px;
//     }

//     .container-contact1 {
//         padding: 90px 80px 88px 90px;
//     }

//     .contact1-pic {
//         width: 35%;
//     }

//     .contact1-form {
//         width: 55%;
//     }

//     .container-contact1 {
//         padding: 90px 80px 88px 80px;
//     }

//     .contact1-pic {
//         display: none;
//     }

//     .contact1-form {
//         width: 100%;
//     }
// }


// @media (max-width: 992px) {
//     .alert-validate::before {
//         visibility: visible;
//         opacity: 1;
//     }
// }

// @media (max-width:1000px) {
//     .first {
//         text-align: center;
//     }

//     .first h4::after {
//         left: 40%;
//     }

//     .third {
//         text-align: center;
//     }

//     .third h4::after {
//         left: 40% !important;
//     }
// }


// @media (max-width: 1200px) {
//     .contact1-pic {
//         width: 33.5%;
//     }

//     .contact1-form {
//         width: 44%;
//     }
// }