@media (max-width: 414px) {

    html,
    body {
        width: 100vh;
    }

    .navbar-expand-lg {
        .navbar-nav {
            left: 122px;
            width: 100%;

        }
    }

    .nav-menu {
        display: block;

        margin: 0px auto 0px;

        li {
            float: revert;

            a {
                color: black;
                display: block;
                text-decoration: none;
                font-family: 'Roboto Condensed', sans-serif;
                text-transform: uppercase;
                overflow: visible;
                line-height: 0px;
                font-weight: 300;
                font-size: 18px;
                letter-spacing: 1px;
                padding: 27px 0px 22px 100px;
            }
        }

        ul {
            position: absolute;
            left: -40px;
            text-align: left;
            line-height: 40px;
            font-size: 10px;
            width: 200px;
            transition: all 0.3s ease-in;
            transform-origin: 0px 0px;
            transform: rotateX(-90deg);
            backface-visibility: hidden;
        }
    }

    .navbar-toggler {
        padding: 0.25rem 0.75rem;
        font-size: 1.25rem;
        line-height: 1;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 0.25rem;
    }

    .header-manu-logo {
        width: 250px;
    }

    .reviews {
        background: #272727;
        display: flex;
        clear: both;
        color: white;
    }

    .index-video-contant {
        width: 100vh;
        text-align: center;
    }


    .processListItemText {
        text-align: center;

    }

    .reviewsLogoItem {
        margin-bottom: 47px;
        text-align: center;
        display: list-item;
    }

    .flip-card {

        width: 100vh;

    }
}

@media (max-width: 480px) {
    #whatsapp-chat {
        width: auto;
        left: 5%;
        right: 5%;
        font-size: 80%;
    }
}


@media (max-width: 575px) {
    .single_advisor_profile .advisor_thumb::after {
        height: 160px;
        bottom: -90px;
    }
}

@media (max-width: 576px) {
    .container-contact1 {
        padding: 90px 15px 88px 15px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .single_advisor_profile .single_advisor_details_info h6 {
        font-size: 14px;
    }

    .single_advisor_profile .single_advisor_details_info p {
        font-size: 12px;
    }

    .container-contact1 {
        padding: 90px 80px 88px 90px;
    }

    .contact1-pic {
        width: 35%;
    }

    .contact1-form {
        width: 55%;
    }

    .container-contact1 {
        padding: 90px 80px 88px 80px;
    }

    .contact1-pic {
        display: none;
    }

    .contact1-form {
        width: 100%;
    }
}


@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}

@media (max-width:1000px) {
    .first {
        text-align: center;
    }

    .first h4::after {
        left: 40%;
    }

    .third {
        text-align: center;
    }

    .third h4::after {
        left: 40% !important;
    }
}




@media (max-width: 1200px) {
    .contact1-pic {
        width: 33.5%;
    }

    .contact1-form {
        width: 44%;
    }
}



